* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #020617;
  color: #e5e7eb;
}

header {
  text-align: center;
  padding: 40px;
}

header h1 {
  color: #38bdf8;
  font-size: 2.5rem;
}

nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 12px;
  border-top: 1px solid #1e293b;
  border-bottom: 1px solid #1e293b;
}

nav a {
  color: #e5e7eb;
  text-decoration: none;
  position: relative;
}

nav a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #38bdf8;
  transition: 0.3s;
}

nav a:hover::after {
  width: 100%;
}

section {
  max-width: 1100px;
  margin: auto;
  padding: 40px 20px;
  animation: fadeUp 0.8s ease;
}

h2 {
  color: #38bdf8;
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.card {
  background: #020617;
  border: 1px solid #1e293b;
  padding: 20px;
  border-radius: 12px;
  transition: transform 0.4s, box-shadow 0.4s;
}

.card:hover {
  transform: rotateY(10deg) rotateX(5deg) scale(1.05);
  box-shadow: 0 20px 40px rgba(56,189,248,0.3);
}

.cert-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
}

.cert-card {
  background: #020617;
  border: 1px solid #1e293b;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  transition: transform 0.4s;
}

.cert-card:hover {
  transform: scale(1.08);
}

.cert-card img {
  width: 100%;
  border-radius: 8px;
}

.hidden {
  display: none;
}

footer {
  text-align: center;
  padding: 20px;
  border-top: 1px solid #1e293b;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.profile-pic{
  height: 110px;
  width: 100px;
}
.btn{
  color: white;
  padding: 10px;
}
.cta-buttons{
  margin-top: 10px;

}

.btn:hover{
  color: greenyellow;

}
a{
  color: white;
}
nav :hover{
  color: greenyellow;
}